<div class="row">
    {% for product in products %}
        {% set quantity = cart[product.id]['quantity'] is defined ? cart[product.id]['quantity'] : 0  %}
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">{{ product.name }}</h3>
                <img src="{{ product.image }}" alt="name-product">
                <ul class="list-group list-group-flush">
                    {% for ingredient in product.ingredients  %}
                        <li class="list-group-item">{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <a href="{{ path('app_cart_sub', {'id': product.id}) }}"><span class="badge rounded-pill bg-success">-</span></a>
                    <span class="badge rounded-pill bg-secondary">{{ quantity }}</span>
                    <a href="{{ path('app_cart_add', {'id': product.id}) }}"><span class="badge rounded-pill bg-success">+</span></a>
                </div>
                <div class="card-footer text-muted">
                   {{ product.price /100 }} €
                </div>
            </div>
        </div>
    {% endfor %}
</div>